#icon {
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

#robozao {
    display: flex;
}
 h1 {
    color:rgb(0, 179, 250)
 }
 h2 {
    color:rgb(0, 179, 250)
 }
#perguntas_recentes {
    display: flex;
    justify-content: flex; 
    width: 100%;               
}
#perguntas_recentes ul {
    list-style: none;
    text-align: right; 
}